<h3>Please activate your account!</h3>
<div>Click the following link to activate your account:</div>
<p>{{ activationLink }}</p>
<p>This link will expire on {{ expirationDateString }}</p>
<p>If you didn't make this request, please ignore this email.</p>