<h3>Please activate your account!</h3>
<p>Click the following link to activate your account:</p>
<div>{{ activationLink }}</div>

<p>This link will expire on <span>{{ expirationDateString }}</span></p>

<p>If you did not make this request, please ignore this email.Thanks!</p>